Repository DatGizmo/sdk-nrf, changes with the owners that CODEOWNERS names for each.
All owners: @carlescufi, @rlubos, @jukkar, @nrfconnect/ncs-co-drivers, @gmarull, @57300, @ncs-co-networking, @lemrey, @ncs-co-build-system, @nrfconnect/ncs-co-build-system

ci: Testing test-spec speed up
  lib/pcm_mix/CMakeLists.txt
  lib/pcm_mix/Kconfig
  lib/pcm_mix/pcm_mix.c
Owners: @nrfconnect/ncs-co-build-system, @carlescufi

ci: Testing test-spec speed up
  lib/pcm_mix/CMakeLists.txt
  lib/pcm_mix/Kconfig
  lib/pcm_mix/pcm_mix.c
  west.yml
Owners: @nrfconnect/ncs-co-build-system, @carlescufi, @rlubos

adding a sha test
  west.yml
Owners: @rlubos

manifes: update doc-internal rev
  lib/pcm_mix/CMakeLists.txt
  west.yml
Owners: @nrfconnect/ncs-co-build-system, @rlubos

west.yml: Update zephyr version
  west.yml
Owners: @rlubos

ci: Testing test spec
  lib/pcm_mix/CMakeLists.txt
  lib/pcm_mix/Kconfig
  lib/pcm_mix/pcm_mix.c
Owners: @nrfconnect/ncs-co-build-system, @carlescufi

adding ble test
  subsys/bluetooth/CMakeLists.txt
Owners: @nrfconnect/ncs-co-build-system

switch test repo
  west.yml
Owners: @rlubos

audio: testing enable
  lib/pcm_mix/pcm_mix.c
Owners: @carlescufi

ci: tag test
  west.yml
Owners: @rlubos

Revert "ci: tag test"
  west.yml
Owners: @rlubos

ci: tag test
  west.yml
Owners: @rlubos

ci: adding yamllint action
  .github/workflows/lint-yaml.yml
  .github/yamllint.yml
Owners: @carlescufi

ci: adding yamllint action
  .github/workflows/lint-yaml.yml
  .github/workflows/twister-clang.yml
Owners: @carlescufi

testing yamllint
  .github/test-spec.yml
Owners: @carlescufi

test breaking change
  .github/test-spec.yml
Owners: @carlescufi

ci: adding yamllint action
  .github/workflows/lint-yaml.yml
  .github/yamllint.yml
Owners: @carlescufi

run on all yaml files
  .github/workflows/lint-yaml.yml
Owners: @carlescufi

disable truthy
  .github/workflows/lint-yaml.yml
Owners: @carlescufi

switching to action
  .github/workflows/lint-yaml.yml
Owners: @carlescufi

test breaking change
  .github/test-spec.yml
Owners: @carlescufi

testing yamllint
  .github/test-spec.yml
Owners: @carlescufi

adding another test file
  dts/bindings/wifi/nordic,nrf71.yaml
Owners: @jukkar

Revert "adding another test file"
  dts/bindings/wifi/nordic,nrf71.yaml
Owners: @jukkar

Revert "test breaking change"
  .github/test-spec.yml
Owners: @carlescufi

Reapply "test breaking change"
  .github/test-spec.yml
Owners: @carlescufi

Revert "Reapply "test breaking change""
  .github/test-spec.yml
Owners: @carlescufi

Reapply "Reapply "test breaking change""
  .github/test-spec.yml
Owners: @carlescufi

ci: testing external contrib
  lib/pcm_mix/CMakeLists.txt
Owners: @nrfconnect/ncs-co-build-system

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# https://help.github.com/en/articles/about-code-owners#codeowners-syntax
# Order is important; the last matching pattern takes the most
# precedence.

* @carlescufi

# Root folder
/VERSION                                  @rlubos
/ncs_version.h.in                         @carlescufi
/LICENSE                                  @jukkar
/README.rst                               @carlescufi
/west.yml                                 @rlubos


# Invividual folders
drivers/**				  @nrfconnect/ncs-co-drivers
doc/					  @jukkar
zephyr/                                   @carlescufi

# Global overrides
*.rst                                     @gmarull
**/bindings/				  @jukkar


# Contributor ownership
drivers/entropy/**			  @57300
lib/nrf_modem_lib/		          @ncs-co-networking @lemrey

# CO overrides 
*.cmake
/cmake/					  @ncs-co-build-system
CMakeLists.txt				  @nrfconnect/ncs-co-build-system
